<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- use this dao -->
    <bean id="daoObject" class="Dao.DaoImplDB"></bean>
    <!-- or this one - ->
    <bean id="daoObject" class="Dao.DaoImplSensor"></bean>
     -->

    <!-- DI. with property injection -->
    <!--
    <bean id="metier" class="Metier.MetierImpl2">
        <property name="dao" ref="daoObject">
        </property>
    </bean>
    -->

    <!-- DI. with constructor injection -->
    <!-- -->
    <bean id="metier" class="Metier.MetierImpl2">
        <constructor-arg ref="daoObject" name="dao">
        </constructor-arg>
    </bean>

</beans>