<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
    <script defer src="/js/all.min.js"></script>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</head>
<body style="background-color: beige;">
    <div class="container h-100 py-5">
        <div class="card border border-secondary">
            <div class="card-header text-center">
                <h3 class="h3 mt-3 mb-4 mx-auto display-6 fw-light "> <i class="fa-solid fa-list-ul"></i>  Liste des patients </h3>
            </div>
            <div class="card-body py-4">
                <div class="row my-1 py-2 w-100 justify-content-between">
                    <form th:action="@{index}" method="get" class="col-md-5 col-11">
                        <div class="input-group w-100">
                            <input type="text" name="keyword" placeholder="Chercher un patient...." class="form-control" id="inputGroupSelect04" th:value="${keyword}" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit"> <i class="fa-solid fa-magnifying-glass"></i> </button>
                            </div>
                            <input type="hidden" name="size" th:value="${size}">
                            <div th:if="${#strings.length(keyword)>0}" class="input-group-append">
                                <a class="btn btn-outline-danger" th:href="@{index( page=0,keyword='', size=${size} )}"> <i class="fa-solid fa-times"></i> </a>
                            </div>
                        </div>
                    </form>
                    <div class="col-2">
                        <select class="form-select" id="sizeSelect" th:data="@{index( page=0, keyword=${keyword} )}" aria-label="size">
                            <option value="5" th:selected="${size==5}">5</option>
                            <option value="10" th:selected="${size==10}"> 10 </option>
                            <option value="25" th:selected="${size==25}">25</option>
                            <option value="50" th:selected="${size==50}">50</option>
                            <option value="100" th:selected="${size==100}">100</option>
                        </select>
                        <small class="text-muted">elements par page</small>
                    </div>
                </div>
                <table class="table table-responsive text-center table-hover table-bordered">
                    <thead>
                    <tr>
                        <th> <strong style="font-size: 1.2em;"> # </strong> </th>
                        <th> Nom </th>
                        <th> date Naissance</th>
                        <th> Malade ? </th>
                        <th> score </th>
                        <th> <strong> Actions </strong> </th>
                    </tr>
                    </thead>
                    <tbody th:with="count=${size}*${currentPage}+1">
                    <tr th:each="p, stat:${patients}">
                        <td th:text="${count+stat.index}" ></td>
                        <td th:text="${p.getNom()}"></td>
                        <td th:text="${p.dateNaissance}"></td>
                        <td th:text="${p.isMalade()? 'Oui':'Non'}" ></td>
                        <td th:text="${p.score}"></td>
                        <td>
                            <button type="button" class="btn btn-outline-danger deletePatientBtn" th:data="@{delete(id = ${p.id}, keyword=${keyword}, page=${currentPage}, size=${size} )}">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                    <tr th:if="${ #lists.isEmpty(patients)}" >
                        <td colspan="6" class="bg-light">
                            <i class="fa-solid fa-exclamation"></i> Aucun patient n'a été trouvé !
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer" >
                <nav aria-label="Page navigation example mx-center" th:if="${ not #lists.isEmpty(pages)}">
                    <ul class="pagination justify-content-center">
                        <li th:if="${ maxPages>1}" th:class="${ currentPage==0? 'page-item disabled':'page-item' }">
                            <a class="page-link"  th:href="@{index( page=0, keyword=${keyword}, size=${size} )}">
                                <i class="fa-solid fa-backward-step"></i>
                            </a>
                        </li>
                        <li th:if="${ maxPages>1}" th:class="${ currentPage==0? 'page-item disabled':'page-item' }">
                            <a class="page-link" th:href="@{index( page=${currentPage}-1, keyword=${keyword}, size=${size} )}">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>
                        <li th:each="page,status:${pages}" th:class="${page==currentPage? 'page-item active':'page-item' }">
                            <a th:text="${page+1}" class="page-link" th:href="@{index( page=${page}, keyword=${keyword}, size=${size} )}"></a>
                        </li>
                        <li th:if="${ maxPages>1}" th:class="${ (currentPage+1)==(maxPages)? 'page-item disabled':'page-item' }" >
                            <a class="page-link"  th:href="@{index( page=${currentPage}+1,keyword=${keyword}, size=${size} )}">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                        <li th:if="${ maxPages>1}" th:class="${ (currentPage+1)==(maxPages)? 'page-item disabled':'page-item' }" >
                            <a class="page-link"  th:href="@{index( page=${maxPages}-1,keyword=${keyword}, size=${size} )}">
                                <i class="fa-solid fa-forward-step"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
        var ee,eee;
        $(function(){
            $(".deletePatientBtn").click(e=>{

                if( ! confirm("Supprimer le patient, etes-vous sure ?"))
                    return;
                const location = window.location;
                let href = location.protocol+'//'+location.host+'/'+$(e.currentTarget).attr('data');
                window.location = href;
            })

            $('#sizeSelect').change(e=>{
                const location = window.location;
                window.location = location.protocol+'//'+location.host+"/"+$('#sizeSelect').attr('data')+"&size="+$(e.currentTarget).val()
            })
        })

    </script>

</body>
</html>